<div class="container">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <img src="../assets/perfil.PNG" alt="foto_perfil">
    </div>
    <div class="col-4"></div>
  </div>
  <div class="row">
      <h1>Sobre mim</h1>
      <p>Me chamo Natanael, nasci em Irati-Pr e atualmente moro na região metropolitana de Curitiba</p>
  </div>
  <div class="row">
      <div class="container">
          <div class="col-12">
            <p>Historico 1</p>
          </div>
          <div class="col-12">
            <p>Historico 2</p>
          </div>
          <div class="col-12">
            <p>Historico 3</p>
          </div>
      </div>
  </div>
  <div class="row">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-bs-toggle="modal"  data-bs-target="#exampleModal" data-target="#exampleModal">Dar Feedback</button>
    
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Feedback</h5>
            <button type="button" class="close" data-bs-dismiss="modal" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Nome:</label>
                <input type="text" class="form-control" id="recipient-name">
              </div>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Sobrenome:</label>
                <input type="text" class="form-control" id="recipient-name">
              </div>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Email:</label>
                <input type="text" class="form-control" id="recipient-name">
              </div>
              <div class="form-group">
                <label for="message-text" class="col-form-label">Feedback:</label>
                <textarea class="form-control" id="message-text"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" data-dismiss="modal">Send message</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>