<div class="container">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <img src="../assets/perfil.PNG" alt="foto_perfil">
    </div>
    <div class="col-4"></div>
  </div>
  <div class="row">
      <h1>Sobre mim</h1>
      <p>Me chamo Natanael, nasci em Irati-Pr e atualmente moro na região metropolitana de Curitiba</p>
  </div>
  <div class="row">
      <div class="container">
          <div class="col-12">
            <p>Historico 1</p>
          </div>
          <div class="col-12">
            <p>Historico 2</p>
          </div>
          <div class="col-12">
            <p>Historico 3</p>
          </div>
      </div>
  </div>
</div>